* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body{
  width: 100%;
}

body,
input,
input::placeholder {
  font-family: "Mulish", sans-serif;
}

header {
  background-color: #065e7c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2.8rem;
  grid-area: header;

}

header img {
  border-radius: 50%;
  width: 4.2rem;
  height: 4.2rem;
}

input {
  width: 60%;
  border-radius: 4px;
  border: none;
  padding: 1.6rem;
  background: #ffffff33;

  color: #fff;
}

input::placeholder {
  color: #fff;
  font-family: Mulish;
  font-size: 1.6rem;
  font-style: normal;
  line-height: 1.6rem;
}

main{
  grid-area: main;
}

main img {
  width: 100%;
  height: auto;
}

main section {
  padding: 3.2rem 2.8rem;
}

main section img {
  width: 4rem;
  height: 4rem;
  margin: 0.8rem 0 3.2rem 0;
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.8rem;
}

main p {
  font-family: Mulish;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

aside {
  padding: 0 2.8rem 3.2rem;
  grid-area: aside;
}

aside h2 {
  margin-bottom: 3.2rem;
}

.card {
  display: flex;
  margin-bottom: 3.2rem;
  gap: 1.6rem;
}

.card img {
  width: 15rem;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
}

h3 {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.card p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
}

footer {
  background: #387e96;
  text-align: center;
  padding: 1.6rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
  grid-area: footer;
}

@media (min-width:801px) {
  body{
    display: grid;
    grid-template-areas: 
      "header header header header"
      "main main main aside"
      "footer footer footer footer";
  }
  header{
    padding: 1.2rem 11.2rem;
  }

  input{
    width: 90%;
  }

  main{
    padding: 4rem 0 0 11.2rem; 
    margin-right: 3.4rem;
  }

  main section {
    padding: 0;
  }

  aside{
    padding: 4rem 11.2rem 0 0; 

  }
  aside h2 {
    margin-bottom: 3.2rem;
    line-height: 2.4rem;
  }

  footer{
    margin-top: 4rem;
  }
}
